modal-input {

    .divider {
        background-color: white;
        height: 1px;
        margin-bottom: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .label-default {
        background-color: transparent;
        color: white;
        margin:10px 0px;
    }

    .input-default {
        background-color: white;
        border-radius: 7px;
        color: black;
        height: 130px;
    }

}
