<ion-header>
  <ion-navbar>   
    <ion-label class="header-pages">
      <span class="title-blue font-size-title">Reservación</span>
      <span class="title-white font-size-title">deSala</span>
    </ion-label>
    <div style="display: flex;
    justify-content: space-around;">
      <div class="btn-section" [ngClass]="{'current-section': section === 0}">
        <button ion-button full color="primary" (click)="goSection(0)" >Tradicional</button>
      </div>
      <div class="btn-section" [ngClass]="{'current-section': section === 1}">
        <button ion-button full color="primary" (click)="goSection(1)">Recurrente</button>
      </div>
    </div>
  </ion-navbar>
</ion-header>
<ion-content class="wrapper-content" padding-left padding-right style="margin-bottom: 40px;">

  <calendar
      textLabel="Fecha"
      require="true"
      [days-limit]="daysLimit"
      (selected-day)="selectedDay($event)"
      *ngIf="section === 0"></calendar>
    <section *ngIf="section === 0" class="main-content" (swipe)="swipe($event,true)"  >
      <ion-label>Horario<span class="label-required" >*</span></ion-label>
      <div class="timeButtons">
        <div class="firstColumn">
          <button ion-button small [color]="horary === 'am' ? 'pink' : 'primary'" (click)="selectedHorary('am')">AM</button>
          <button ion-button small [color]="horary === 'pm' ? 'pink' : 'primary'" (click)="selectedHorary('pm')">PM</button>
        </div> 
        <div class="allDayButton">
          <button ion-button small [color]="horary === 'all' ? 'pink' : 'primary'" (click)="selectedHorary('all')">Día completo</button>
          <button ion-button small [color]="horary === 'con' ? 'pink' : 'primary'" (click)="selectedHorary('con')">Consultorio</button>
        </div>
        <div class="scheduleContainer" *ngIf="horary === 'all' || horary === 'con'" [formGroup]="formJustification">
          <ion-item class="input-default" no-lines>
            <ion-textarea 
              placeholder="El motivo por el cual quiero reservar es..." 
              maxlength="100" 
              formControlName="justificationSchedule"></ion-textarea>
          </ion-item>
        </div>
      </div>
      <ion-label>Edificio<span class="label-required" >*</span></ion-label>
      <div class="wapper-building-buttons">
        <button 
          ion-button 
          small 
          *ngFor="let building of buildings;let i = index;" 
          class="building-button"
          [ngClass]="{ 'building-button-selected': buildings[i].selected }"
          (click)="selectedBuilding(building)"> {{ building.name }} </button>
      </div>
      <ion-label *ngIf="quantityOfPersons"> Cantidad de personas<span class="label-required" >*</span></ion-label>
      <div class="wrapper-quantity-person ">  
        <button 
          ion-button 
          small 
          class="round-button-default"
          *ngFor="let quantity of quantityOfPersons;let i = index;"
          [ngClass]="{ 'round-button-selected': indexPersonSelected === i }"
          (click)="selectedPersons(i,quantity)">{{ quantity }}</button>
          <div 
              class="input-description-person"
              *ngIf="showInputDescription">
            <label>Reserva de auditorio</label>
            <ion-item class="input-default item-height-person" [formGroup]="formJustification">
              <ion-textarea 
                placeholder="El motivo por el cual quiero reservar es..." 
                formControlName="justificationBuilding"></ion-textarea>
            </ion-item>
            <label class="label-description">Si vas a reservar el auditorio. deberás justificar al administrador del edificio la razón y esperar a su autorización.</label>
          </div>
      </div>
      <ion-label>Equipo de sala</ion-label>
      <div class="wapper-accesorie">
        <button 
          ion-button small
          class="btn-accesorie"
          [ngClass]=" {'accesorie-default': !accesories[0].selected,'accesorie-selected':accesories[0].selected} "
          (click)="selectedAccesorie(0)">
          <img src="{{ accesories[0].img }}" alt="" class="img-btn-accesorie">  
          {{ accesories[0].text }}
        </button>
        <button 
          ion-button small
          class="btn-accesorie"
          [ngClass]=" {'accesorie-default': !accesories[1].selected,'accesorie-selected':accesories[1].selected} "
          (click)="selectedAccesorie(1)">
          <img src="{{ accesories[1].img }}" alt="" class="img-btn-accesorie">  
          {{ accesories[1].text }}
        </button>
      </div>
      <div class="wapper-accesorie" >
        <button 
          ion-button small
          class="btn-accesorie"
          [ngClass]=" {'accesorie-default': !accesories[2].selected,'accesorie-selected':accesories[2].selected} "
          (click)="selectedAccesorie(2)">
          <img src="{{ accesories[2].img }}" alt="" class="img-btn-accesorie">  
          {{ accesories[2].text }}
        </button>
        <button 
          ion-button small
          class="btn-accesorie"
          [ngClass]=" {'accesorie-default': !accesories[3].selected,'accesorie-selected':accesories[3].selected} "
          (click)="selectedAccesorie(3)">
          <img src="{{ accesories[3].img }}" alt="" class="img-btn-accesorie">  
          {{ accesories[3].text }}
        </button>
      </div>
      <div class="wapper-accesorie" >
        <button 
          ion-button small
          class="btn-accesorie"
          [ngClass]=" {'accesorie-default': !accesories[4].selected,'accesorie-selected':accesories[4].selected} "
          (click)="selectedAccesorie(4)">
          <img src="{{ accesories[4].img }}" alt="" class="img-btn-accesorie">  
          {{ accesories[4].text }}
        </button>
        <button 
          ion-button small
          class="btn-accesorie"
          [ngClass]=" {'accesorie-default': !accesories[5].selected,'accesorie-selected':accesories[5].selected} "
          *ngIf="typeUser === 1"
          (click)="selectedAccesorie(5)">
          <img src="{{ accesories[5].img }}" alt="" class="img-btn-accesorie">  
          {{ accesories[5].text }}
        </button>
      </div> 
      <div class="wapper-accesorie" >
        <button 
          ion-button small
          class="btn-accesorie"
          [ngClass]=" {'accesorie-default': !accesories[6].selected,'accesorie-selected':accesories[6].selected} "
          (click)="selectedAccesorie(6)">
          <img src="{{ accesories[6].img }}" alt="" class="img-btn-accesorie">  
          {{ accesories[6].text }}
        </button>
        <button 
          ion-button small
          class="btn-accesorie"
          [ngClass]=" {'accesorie-default': !accesories[7].selected,'accesorie-selected':accesories[7].selected} "
          *ngIf="typeUser === 1"
          (click)="selectedAccesorie(7)">
          <img src="{{ accesories[7].img }}" alt="" class="img-btn-accesorie">  
          {{ accesories[7].text }}
        </button>
      </div> 
      <ion-item 
        class="input-default" 
        [formGroup]="formJustification"
        *ngIf="accesories[7].selected">
        <ion-textarea
          placeholder="Acomodo especial"
          maxlength="100" 
          formControlName="specialRequirement"
        ></ion-textarea>
      </ion-item>
      <ion-label>Asignar reservación a...</ion-label>
      <div class="wrapper-input-user" [formGroup]="formJustification">
          <ion-item class="input-default" no-lines>
            <ion-input placeholder="Escribir usuario" clearInput 
              formControlName="userByAssigned"
              [value]="formJustification.controls['userByAssigned'].value"></ion-input>
            <button ion-button clear color="dark" item-right (click)="searchUser()"> 
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-item>
        <label class="label-description">Si la reserva es para alguien más, agrega el usuario para hacerlo responsable de la reservación.</label>
      </div>
      <div class="wrapper-control-btn ">
        <button ion-button color="blue-walmart" full class="btn-control" 
        (click)="consultReservation()" 
        [disabled]="disabledBtnConsultReservation || !formJustification.valid" >Consultar</button>
      </div>
    </section>
    <section class="main-content" (swipe)="swipe($event,true)" *ngIf="section === 1">
      <ion-label>Dia(s)<span style="color: red;">*</span></ion-label>
      <div style="display: flex; justify-content: space-around;">
          <button 
          ion-button
          *ngFor="let day of nameDays"
          [color]="day.selected ? 'blue-walmart' : 'primary'"
          (click)="selectedDayRecurrent( day )">
          {{ day.nameDay }}
        </button>
      </div>
      <ion-label>Fecha <span style="color: red;">*</span> </ion-label>
      <ion-item no-lines class="input-default background">
        <ion-label>Inicio</ion-label>
        <ion-datetime 
        pickerFormat="DD MMMM YYYY"
        cancelText='CANCELAR'
        [min]="minDateOfStart"
        [max]="maxDateOfStart"
        doneText='ACEPTAR'
        (ionChange)="selectedStartDate($event)"></ion-datetime>
      </ion-item>
      <br>
      <ion-item no-lines class="input-default background">
        <ion-label>Fin</ion-label>
        <ion-datetime 
        pickerFormat="DD MMMM YYYY"
        cancelText='CANCELAR'
        [min]="minDateOfEnd"
        [max]="maxDateOfEnd"
        doneText='ACEPTAR'
        #endDate></ion-datetime>
      </ion-item>
      <ion-label>Horario<span style="color: red;">*</span></ion-label>
      <ion-item no-lines class="input-default background">
        <ion-label>Inicio</ion-label>
        <ion-datetime 
        pickerFormat="HH:mm"
        cancelText='CANCELAR'
        doneText='ACEPTAR'
        [hourValues]="startHourList"
        (ionChange)="selectedStartHour($event)"
        minuteValues="0,30"></ion-datetime>
      </ion-item>
      <br>
      <ion-item no-lines class="input-default background">
        <ion-label>Fin</ion-label>
        <ion-datetime 
        pickerFormat="HH:mm"
        cancelText='CANCELAR'
        doneText='ACEPTAR'
        [hourValues]="endHourList"
        minuteValues="0,30"
        #endTime></ion-datetime>
      </ion-item>
      <span *ngIf="false" style="color: red;">Error</span>
      <ion-label>Asignar reservación a...</ion-label>
      <div class="wrapper-input-user" style="height: 100px; margin-bottom: 60px !important;" [formGroup]="formJustification">
          <ion-item class="input-default" no-lines>
            <ion-input placeholder="Escribir usuario" clearInput 
              formControlName="userByAssigned"
              [value]="formJustification.controls['userByAssigned'].value"></ion-input>
            <button ion-button clear color="dark" item-right (click)="searchUser()"> 
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-item>
        <label class="label-description">Si la reserva es para alguien más, agrega el usuario para hacerlo responsable de la reservación.</label>
      </div>
      <div style="margin-bottom: 60px;"></div>
  </section>

</ion-content>
 