
    .wrapper-calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #212020;
        border-radius: 5px;
        height: 120px;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }

    .title-month {
        margin-top: 5px;
        font-size: 20px; 
    }

    .wrapper-week {
        display: flex; 
        justify-content: space-around; 
        width: 100%; 
        text-align: center;
        margin-bottom: 5px;
    }

    .wide-day {
        width: 32px;  
    }

    .wrapper-days {
        display: flex; 
        justify-content: space-around; 
        width: 100%; 
        text-align: center;
    }

    
    .title-day {
        color: gray;
    }

    .wide-day {
        width: 34px;
        margin-top: 10px;
    }
    
    .wrapper-slides {
        height: 50px !important;
    }

    .day-number {   
        color:orange; 
        margin-top: 10px; 
        margin-bottom: 5px;
    }

    .day-number-last-month {
        color:gray; 
        margin-top: 10px; 
        margin-bottom: 5px;
    }
    
    .selected-day {
        background-color: #007dc6;
        color: white;
        padding: 6px;
        border-radius: 5px;
    }

    .divider-white {
        background-color: white;
        height: 2px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .divider-transparent {
        height: 2px;
        margin-top: 15px;
        margin-bottom: 10px;
    } 




