// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #212020,
  secondary:  #77BF43,
  danger:     #CC2227,
  light:      #f4f4f4,
  dark:       #222,
  blue-walmart: #1B8FD1,
  pink:         #e4007c,
  dark-red:     #722f37,
  yellow-walmart: #FEBF38,
  black: black
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.dark";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// @font-face{
//   font-family: 'Roboto';
//   font-style: normal;
//   src: url('../assets/fonts/Roboto/Roboto-Regular.ttf')
// }

// $font-family-base: 'Roboto';
// body{
//   font-family: 'Roboto' !important;
// }

// *{
//   font-family: 'Roboto' !important;
// }



/*
 Estilos modificados
*/
$text-input-highlight-color-valid: none;
$text-input-highlight-color-invalid: none;

$searchbar-ios-background-color: black;
$searchbar-ios-input-background-color: #042436;
$searchbar-ios-input-text-color: #fff;
$searchbar-ios-input-clear-icon-color:#fff;
$searchbar-ios-input-search-icon-color:#fff;
$searchbar-ios-input-placeholder-color:#fff;
$searchbar-ios-padding-horizontal: 15px;

$searchbar-md-background-color: black;
$searchbar-md-input-background-color: #042436;
$searchbar-md-input-text-color: #fff;
$searchbar-md-input-clear-icon-color:#fff;
$searchbar-md-input-search-icon-color:#fff;
$searchbar-md-input-placeholder-color:#fff;
$searchbar-md-padding-horizontal: 15px;

$refresher-icon-color:white;
$refresher-border-color: black;

ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
  background: transparent none !important;
}


$tabs-ios-tab-icon-color-active: color($colors,blue-walmart);
$tabs-md-tab-text-color-active: color($colors,blue-walmart);