<ion-header>

  <ion-navbar>
    <ion-label class="header-pages">
      <span class="title-blue font-size-title">Consulta</span>
      <span class="font-size-title title-white ">deReservaciones</span>
    </ion-label>
  </ion-navbar>
  <ion-searchbar placeholder="Buscar"[(ngModel)]="inputSearchBar"
  (ionInput)="onInput()"
  (ionClear)="onClear()"></ion-searchbar>
  <div *ngIf="showAutoComplete">
    <div *ngFor="let meetingRoom of listMeetingAutoComplete" (click)="selectedMeetingRoom( meetingRoom )" >
      <ion-label>{{meetingRoom.name}}</ion-label>
    </div>
    <br>
  </div>

</ion-header>

<ion-content padding-left padding-right class="wrapper-content ">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div 
    *ngFor="let meeting of meetings"
    [ngClass]="{'cancelledMeeting': meeting.status.toLowerCase() === 'sala cancelada',
                'reservations': meeting.status.toLowerCase() !== 'sala cancelada' }"  >
    <div class="headerReservation">
      <p>{{meeting.meetingRoomName}}</p>
    </div>
    <div class="reservationIcons">
      <ion-chip color="primary">
        <ion-icon name="contact"></ion-icon>
        <ion-label>{{meeting.capacity}}</ion-label>
      </ion-chip>
      <ion-chip color="primary" class="buildingTag">
        <ion-label>{{meeting.buildingName}}</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>{{meeting.reservationDate}}</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>{{meeting.meetingRoomType}}</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>{{meeting.reservationHour}}</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>Piso {{meeting.floor}}</ion-label>
      </ion-chip>
      <br>

      <ion-chip color="danger" (click)="confirmDeletion(meeting)" class="optionButtons">
        <button ion-button color="danger">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        </button>
      </ion-chip>
      <ion-chip color="primary" (click)="showMeetingRoomMap(meeting)" class="optionButtons">
        <button ion-button color="primary">
          <ion-icon name="image"></ion-icon>
        </button>
      </ion-chip>
      <ion-chip color="dark-red" (click)="confirmReportIssues(meeting)" class="optionButtons">
        <button ion-button color="dark-red">
          <ion-icon name="filing"></ion-icon>
        </button>
      </ion-chip>
    </div>
  </div>

</ion-content>