user-search {

    .divider {
        background-color: white;
        height: 1px;
    }


    .wrapper-users {
        display: flex; 
        flex-direction: column;
    }

    h4 {
        margin-bottom: 0px;
    }

    h6 {
        margin-top: 0px;
    }

}
